@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* banner css start here */
.banner  .swiper-button-prev,
.banner  .swiper-button-next {
display: none;
}
.banner  .swiper-pagination-bullet{
  background: transparent !important;
  border: 2px solid #fff !important;
    margin: 0 10px  !important;
    border-radius: 6px;
    opacity: 1 !important;
}
.banner .swiper-pagination-bullet-active {
    background: transparent !important;
    width: 25px;
    border: 2px solid #fff !important;
    border-radius: 6px;
}
.banner .swiper-pagination {
    max-width: 1500px;
    text-align: left;
    margin: 0 auto;
    bottom: 22px !important;
    left: 0;
    right: 0;
    padding: 0 15px !important;
}